@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* previous version
  background-image: url("../public/HomeSala.jpg");
  background-size: cover;
  */
}

div.flex{
  /*
  Make image only on main page
  */
  background-image: url("../public/HomeSala.jpg");
  background-size: cover;
  display: flex;
}

.flex {
  background-color: rgba(255, 235, 214, 0.4);
  justify-content: center;
}

/*
figure out how to style Links
*/
link:any-link {
  background-color: #794e0a;
  border: 3px;
  border-style: groove;
  color:#ffffff;
}

/*
*/
link:hover {
  background-color: #538eeb;
  color:#0a0a0a;
}

/*
*/
button {
  background-color:#fab74d;
  color:#ffffff;
  border-color: #794e0a;
  border-width: 4px;
  border-style: groove;
  padding-left: 10%;
  padding-right: 10%;
}

/*
*/
button:hover {
  background-color: #538eeb;
}

#video-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#SalaList {
  padding: 80px;
  justify-content: center;
}

li {
  list-style-type: circle;
}

#preview-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-target-select {
  display: flex;
  flex-direction: column;
}